<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>335432222368-YOUR-CLIENT-ID-SUFFIX.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.335432222368-YOUR-REVERSED-CLIENT-ID-SUFFIX</string>
  <key>API_KEY</key>
  <string>YOUR-API-KEY</string>
  <key>GCM_SENDER_ID</key>
  <string>335432222368</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.sammay.cardwizz</string>
  <key>PROJECT_ID</key>
  <string>cardwizz-31e39</string>
  <key>STORAGE_BUCKET</key>
  <string>cardwizz-31e39.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:335432222368:ios:c155bd40429eb2388eebc5</string>
</dict>
</plist>
